// 全体
.field {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// 文字全体
.text_field {
  margin-top: var(--md);
  display: flex;
  align-items: center;
}

// エラー詳細
.text {
  padding-left: var(--md);
  border-left: var(--border);
  &.text_root {
    margin-left: var(--md);
  }
}