// 背景
.title_back {
  width: 100%;
  height: calc((100vw / 16) * 9);
  max-height: 337.5px;
  margin-bottom: var(--lg);
  background-color: #2b825b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// テキスト
.title {
  user-select: none;
  &.title_root {
    padding: var(--md);
    font-weight: 600;
    text-align: center;
  }
}