// 本文
.content {
  padding-right: var(--md);
  padding-left: var(--md);
}

// 下部の全体
.actions_field {
  width: 100%;
  padding-top: var(--md);
  padding-right: var(--sm);
  padding-left: var(--md);
  padding-bottom: var(--md);
  display: flex;
  align-items: center;
}

// 返信ボタン
.reply_button {
  &.reply_button_root {
    margin-right: var(--sm);
    border-radius: 9999px;
  }
}

// 返信数
.reply_count {
  margin-right: var(--md);
}

// いいね数
.favorite_count {
  padding-left: var(--sm);
}

// 詳細ボタン
.icon_button {
  &.icon_button_root {
    margin-left: auto;
  }
}