@use '@/styles/utils';

// 全体
.drawer {
  .drawer_paper {
    width: 220px;
  }
  .back_root {
    background-color: rgba(0, 0, 0, 0.4);
  }
}


// 各ボタン
.list_item_button {
  &.list_item_button_root {
    border-radius: 9999px;
  }
}

// 線
.divider {
  &.divider_root {
    margin: var(--xs) var(--md);
  }
}

// 他サイトへのリンクボタン
.other_button {
  &.other_button_root {
    display: flex;
    align-items: center;
  }
}