// タイトル
.title {
  padding-top: var(--xl);
  padding-bottom: var(--sm);
  border-bottom: var(--border);
  &.title_root {
    // margin-top: var(--xl);
    margin-right: var(--md);
    margin-bottom: var(--md);
    margin-left: var(--md);
  }
}

// リンク
.link {
  padding-right: var(--md);
  padding-left: var(--md);
}

// アカウント作成ボタン
.button {
  height: 102.25px;
  display: flex;
  align-items: center;
  justify-content: center;
}