@use '@/styles/utils';

// 全体
.app_bar {
  &.app_bar_root {
    top: 48px;
    @include utils.mq(md) {
      top: 56px;
    }
  }
}

// ヘッダー
.header {
  padding-right: var(--md);
  padding-left: var(--md);
  display: flex;
  flex-direction: row;
  align-items: center;
}