@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// カテゴリ一覧に戻る全体
.category {
  @include flex;
  padding: var(--md) var(--md) 0;
}

// カテゴリ上部全体
.title {
  @include flex;
  padding: var(--md);
  justify-content: center;
}

// 画像
.image {
  width: 80px;
  height: 80px;
  position: relative;
}

// カテゴリ名
.title_text {
  padding-left: var(--xl);
}