.markdown {
  width: 100%;
  display: flex;
  flex-grow: 1;
  > div {
    width: 100%;
    > div {
      height: 100% !important;
      padding: 0 4px !important;
      border: none !important;
    }
  }
}